on:
  workflow_call:
    inputs:
      solution-path:
        required: true
        type: string
      build-configuration:
        required: true
        type: string
      dotnet_version:
        required: true
        type: string
jobs:
  test_solution:
    name: 'Test solution'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
    
    - name: Setup .NET version
      uses: actions/setup-dotnet@v5
      with:
        dotnet-version: ${{ inputs.dotnet_version }}
    
    - name: Install dependencies
      run: dotnet restore ${{ inputs.solution-path }}

    - name: Test
      run: dotnet test ${{ inputs.solution-path }} --configuration ${{ inputs.build-configuration }} --logger trx --collect:"XPlat Code Coverage" --results-directory coverage

    - name: Combine Coverage Reports # This is because one report is produced per project, and we want one result for all of them.
      uses: danielpalme/ReportGenerator-GitHub-Action@5.4.15
      with:
        reports: "coverage/*/coverage.cobertura.xml" # REQUIRED # The coverage reports that should be parsed (separated by semicolon). Globbing is supported.
        targetdir: "${{ github.workspace }}" # REQUIRED # The directory where the generated report should be saved.
        reporttypes: "Html;Cobertura;Badges;MarkdownSummaryGithub" # The output formats and scope (separated by semicolon) Values: Badges, Clover, Cobertura, CsvSummary, Html, Html_Dark, Html_Light, Html_BlueRed, HtmlChart, HtmlInline, HtmlInline_AzurePipelines, HtmlInline_AzurePipelines_Dark, HtmlInline_AzurePipelines_Light, HtmlSummary, JsonSummary, Latex, LatexSummary, lcov, MarkdownSummary, MarkdownSummaryGithub, MarkdownDeltaSummary, MHtml, PngChart, SonarQube, TeamCitySummary, TextSummary, TextDeltaSummary, Xml, XmlSummary
        verbosity: "Info" # The verbosity level of the log messages. Values: Verbose, Info, Warning, Error, Off
        title: "Code Coverage" # Optional title.
        tag: "${{ github.run_number }}_${{ github.run_id }}" # Optional tag or build version.
        customSettings: "" # Optional custom settings (separated by semicolon). See: https://github.com/danielpalme/ReportGenerator/wiki/Settings.
        toolpath: "reportgeneratortool" # Default directory for installing the dotnet tool.

    - name: Publish Code Coverage Report
      uses: irongut/CodeCoverageSummary@v1.3.0
      with:
        filename: "Cobertura.xml"
        badge: true
        fail_below_min: false # just informative for now
        format: markdown
        hide_branch_rate: false
        hide_complexity: false
        indicators: true
        output: both
        thresholds: "10 30"
        
    - name: Publish Test Results
      uses: EnricoMi/publish-unit-test-result-action@v2.20.0
      if: always()
      with:
        # NOTE: using trx_files instead of files due to https://github.com/EnricoMi/publish-unit-test-result-action/issues/424
        files: "${{ github.workspace }}/**/*.trx"

    - name: Add Coverage PR Comment
      uses: marocchino/sticky-pull-request-comment@v2
      if: github.event_name == 'pull_request'
      with:
        recreate: true
        path: code-coverage-results.md

    - name: Write to Job Summary  
      if: github.event_name != 'pull_request'
      run: cat SummaryGithub.md >> $GITHUB_STEP_SUMMARY
