name: 'Pipeline for CI'

on:
  push:
    branches:
      - feature/*
jobs:
  call-restore-and-build:
    name: Invoke build solution
    uses: ./.github/workflows/dotnet-build.yaml
    with:
      solution-path: TechnicalTest.HectorRomero.sln
      build-configuration: 'Release'
      dotnet_version: '8.0.x'
      
  call-test:
    name: Invoke solution test
    needs: [call-restore-and-build]
    uses: ./.github/workflows/dotnet-test.yaml
    with:
      solution-path: TechnicalTest.HectorRomero.sln
      build-configuration: 'Release'
      dotnet_version: '8.0.x'